---
---
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');

body {
  line-height: 1.2;
  letter-spacing: 0.5px;

  p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
  }
}

.main {
  margin-bottom: 30px;
}

.date-big {
  font-size: 3.25rem;
  font-weight: 800;
  color: red;
}

.date-small {
  font-size: 0.700rem;
}

.post-urls {
  color: black;
  font-size: 3.19rem;
}

.categories {
  display: inline-block;
  border: solid 1px;
  border-radius: 5px;
  padding: 3px 5px 3px 5px;

  a {
    text-decoration: none;
    color: black;
  }
}

footer {
  background: black;
  color: #777;
  
  .social-icons{
    text-align: right;
    a {
      background: transparent;
    }
  }
}

.summarization {
  margin-top: 20px;
}

.explanation {
  margin-top: 50px;
  p {
    margin-top: 10px;
  }
}

.references {
  margin-top: 100px;
}
